@import url("//unpkg.com/element-ui/lib/theme-default/index.css");
a:hover {
    text-decoration: none;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.block {
    display: block;
    margin: 10px;
}

.inline {
    display: inline-block;
    margin: 10px;
}